#search-bar-section {
  padding: 2.5rem 0;
  margin-top: 2px;
}

#homepage__header {
  padding-bottom: 3rem;
  max-height: 650px;
  padding: 2.5rem 0 3.5rem 0;
}

#homepage__header {

  .homepage__header-banner {
    margin-bottom: 3rem;
    position: absolute;
    width: 100%;
    left: 0;
    top: 5em;

    .homepage__header-banner--moto {
      font-weight: 600;
      color: #fff;
      font-size: 40px;
      display: block;
      width: 13em;
      margin-bottom: 2rem;

      @include if-narrower-than(sm) {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        width: 90%;
      }
    }

    .homepage__header-banner--moto-de {
      width: 20em;

      @include if-narrower-than(sm) {
        margin-bottom: 0rem;
        width: 100%;
      }

    }

    .homepage__header-banner--moto-fr {

      @include if-narrower-than(sm) {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        width: 100%;
      }

    }

    .homepage__header-banner--link {
      color: #fff;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      display: inline-block;

      @include if-narrower-than(sm) {
        font-size: inherit;
        background-image: none;
        text-decoration: underline;
        word-wrap: break-word;
      }
    }
  }
}


#hero-images + #header-search {
  position: relative;
  margin-top: -9em;

  @include if-narrower-than(sm) {
    margin-top: -11em;
  }
}

#header-search-bar {
  background-color: #ffffff;
}

#header-search-bar-form {
  padding-top: 1rem;
}

.fr-search-bar.fa-search-bar {
  display: block;
}

#search-bar-form{
  padding-top: 1rem;
}

#nomnia-search-bar-form {
  padding-top: 1rem;
}

#header-search-bar-form__submit {
  flex: 0 0 auto;
}

#header-search-bar-form__options {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0;

  .fa-fieldset__element--right {

    @include if-wider-than(md) {
      margin-left: auto;
      margin-right: 40px;
    }
  }
}

/* typeahead */

#norql {
  height: 100%;
}

.typeahead__container {
  position: relative;
  width: 100%;
  display:flex;
  font-family: Marianne, arial, sans-serif;
}

.typeahead__field {
  flex: 1;
}

.typeahead__result {
  z-index: 1001;

  .typeahead__list {
    padding: 1rem;
  }

  .typeahead__list > li {
    padding: 0;
  }
}

/* from jquery.typeahead.css */

$typeahead-item-border: var(--background-contrast-grey);
$typeahead-item-background-hover: var(--background-default-grey-hover);
$typeahead-item-top-border: var(--grey-850-200);
$typeahead-group-border: var(--background-open-blue-france-hover);
$typeahead-group-background: var(--background-open-blue-france);
$typeahead-item-highlighted: var(--background-open-blue-france);

.typeahead__container.result .typeahead__list,
.typeahead__container.filter .typeahead__dropdown,
.typeahead__container.hint .typeahead__hint,
.typeahead__container.backdrop + .typeahead__backdrop {
  display: block !important;
}

.typeahead__container .typeahead__list,
.typeahead__container .typeahead__dropdown,
.typeahead__container .typeahead__hint,
.typeahead__container + .typeahead__backdrop {
  display: none !important;
}

.typeahead__list, .typeahead__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-width: 160px;
  padding: 0.55rem ;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  border: 1px solid  $typeahead-item-top-border;
  border-radius: 2px;
  background-clip: padding-box;
}

.typeahead__container [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.typeahead__container [type="search"]::-webkit-search-cancel-button,
.typeahead__container [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.typeahead__container ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.typeahead__container ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.typeahead__query {
  position: relative;
  z-index: 2;
  width: 100%;
}

.typeahead__field input[type="search"],
.typeahead__field input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: textfield;
  appearance: textfield;
}

.typeahead__container.hint .typeahead__field input {
  background: transparent;
}

.typeahead__list, .typeahead__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  border: 1px solid $typeahead-item-border;
  border-top: 1px solid $typeahead-item-top-border;
  border-radius: 2px;
  background-clip: padding-box;
}

.typeahead__result.detached .typeahead__list {
  position: relative;
  z-index: 1041;
  top: initial;
  left: initial;
}

.typeahead__dropdown {
  right: 0;
  left: initial;
  z-index: 1001;
}

.typeahead__list > li {
  position: relative;
  border-top: solid 1px $typeahead-item-border;
}

.typeahead__list > li:first-child {
  border-top: none;
}

.typeahead__list > li > a,
.typeahead__dropdown > li > a {
  display: block;
  padding: 6px 12px;
  clear: both;
  text-decoration: none;
  background-image: none;

  span.link strong{
    }
}

.typeahead__list > li > a:hover,
.typeahead__list > li > a:focus,
.typeahead__list > li.active > a,
.typeahead__dropdown > li > a:hover,
.typeahead__dropdown > li > a:focus,
.typeahead__dropdown > li.active > a {
  background-color: $typeahead-item-background-hover;
}

.typeahead__list.empty > li > a {
  cursor: default;
}

.typeahead__list.empty > li > a:hover,
.typeahead__list.empty > li > a:focus,
.typeahead__list.empty > li.active > a {
  background-color: transparent;
}

.typeahead__list > li.typeahead__group {
  border-color: $typeahead-group-border;
  font-weight: bold;
}

.typeahead__list > li.typeahead__group:first-child {
  border-top: solid 1px $typeahead-group-border;
}

.typeahead__list > li.typeahead__group > a,
.typeahead__list > li.typeahead__group > a:hover,
.typeahead__list > li.typeahead__group > a:focus,
.typeahead__list > li.typeahead__group.active > a {
  cursor: default;
  background: $typeahead-group-background;
  color: #000;
}

.typeahead__list > li.typeahead__group + li.typeahead__item {
  border-color: $typeahead-group-border;
}

.typeahead__container.result .typeahead__list,
.typeahead__container.filter .typeahead__dropdown,
.typeahead__container.hint .typeahead__hint,
.typeahead__container.backdrop + .typeahead__backdrop {
  display: block !important;
}

.typeahead__container .typeahead__list,
.typeahead__container .typeahead__dropdown,
.typeahead__container .typeahead__hint,
.typeahead__container + .typeahead__backdrop {
  display: none !important;
}

.typeahead__dropdown li:last-child {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px $typeahead-item-border;
}


.typeahead__container.cancel:not(.loading) .typeahead__cancel-button {
  visibility: visible;
  opacity: .25;
}

.typeahead__container.cancel:not(.loading) .typeahead__cancel-button:hover {
  opacity: .4;
}

.typeahead__container.loading .typeahead__query:before, .typeahead__container.loading .typeahead__query:after {
  transition: all 0s linear, opacity 0.2s ease;
  position: absolute;
  z-index: 3;
  content: '';
  top: 50%;
  right: .55em;
  margin-top: -10.5px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  border-radius: 500rem;
  border-style: solid;
  border-width: .1em;
}

.typeahead__container.loading .typeahead__query:before {
  border-color: rgba(0, 0, 0, 0.35);
}

.typeahead__container.loading .typeahead__query:after {
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-color: #fff transparent transparent;
  box-shadow: 0 0 0 1px transparent;
}

@-webkit-keyframes button-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes button-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
