# ignore all hidden files but
.*
# except .babelrc, needed to build bundles-*.js by webpack
!.babelrc
!.prettierrc
*.egg-info
test/data/bfss*
test/data/database*
test/data/ape-ead
node_modules
gitfilter
**/__pycache__
Dockerfile
Makefile
tox.ini
deploy
deploy.sh
vendor-manifest.json
dist
sphinx
doc
*.orig
*.pyc
*~
