<div class="fr-grid fr-grid-row fa-mb">
  <div class="fr-col-12 fr-col-lg-8">
    <p class="fr-text--heavy">{{ _('All fields are mandatory') }}</p>
  </div>

  <div class="fr-col-12 fr-col-lg-8">
    <fieldset class="fr-fieldset" aria-labelledby="contact-form-legend--identification">
      <legend class="fr-sr-only fr-fieldset__legend--regular fr-fieldset__legend"
              id="contact-form-legend--identification">
        _('Identification')
      </legend>
      <div class="fr-fieldset__element fr-mb-8v">
        <div class="fr-input-group{%- if contact_name_error %} fr-input-group--error{%- endif -%}"
             data-fr-js-input-actionee="true">
          <label for="contact-form--name" class="fr-label">
            {{ contact_name_label }}
          </label>
          <input type="text" id="contact-form--name" name="name" class="fr-input"
                 required
                 spellcheck="false" autocomplete="family-name"
                 {% if contact_name_error %}
                 aria-describedby="contact-form--name-error"
                 {%- endif %}
                 value="{{ name_value }}">
          {%- if contact_name_error %}
          <div id="contact-form--name-error" class="fr-messages-group">
            <p class="fr-message fr-message--error">{{ contact_name_error }}</p>
          </div>
          {%- endif -%}
        </div>
      </div>
      <div class="fr-fieldset__element fr-mb-4v">
        <div class="fr-input-group {%- if contact_email_error %} fr-input-group--error{%- endif -%}"
             data-fr-js-input-actionee="true">
          <label for="contact-form--email" class="fr-label">
            {{ contact_email_label }}
            <span id="contact-form--email-help" class="fr-hint-text">
              {{ contact_email_help }}{{ _(':') }}nom@domaine.fr
            </span>
          </label>
          <input type="email" id="contact-form--email"
                 name="email"
                 {% if contact_email_error %}
                 aria-describedby="contact-form--email-error"
                 {%- else %}
                 aria-describedby="contact-form--email-help"
                 {%- endif %}
                 autocomplete="email"
                 spellcheck="false"
                 required
                 value="{{ email_value }}"
                 class="fr-input">
          {%- if contact_email_error %}
          <div id="contact-form--email-error" class="fr-messages-group">
            <p class="fr-message fr-message--error">{{ contact_email_error }}</p>
          </div>
          {%- endif -%}
        </div>
      </div>
    </fieldset>
  </div>
  <div class="fr-col-12 fr-col-lg-8">
    <fieldset class="fr-fieldset" aria-labelledby="contact-form-legend--message">
      <legend class="fr-sr-only fr-fieldset__legend--regular fr-fieldset__legend"
              id="contact-form-legend--message">
        {{ _('Message') }}
      </legend>
      <div class="fr-fieldset__element fr-mb-8v">
        <div class="fr-input-group {%- if contact_object_error %} fr-input-group--error{%- endif -%}"
             data-fr-js-input-actionee="true">
          <label for="contact-form--object" class="fr-label">
            {{ contact_object_label }}
          </label>
          <select id="contact-form--object" class="fr-select" name="object" required
              {% if contact_object_error -%}
              aria-describedby="contact-form--object-error"
              {%- endif %}
          >
            <option value="" disabled>{{ object_select_message }}</option>
            {% for option in contact_objects %}
            {% set option_val = ["contact_object", loop.index]|join('_') %}
            <option value="{{ option_val}}" {%- if option_val == selected_object or option_val == object_value|string()%} selected {% endif %}>{{option}}</option>
            {% endfor %}
          </select>
          {%- if contact_object_error %}
          <div id="contact-form--object-error" class="fr-messages-group">
            <p class="fr-message fr-message--error">{{ contact_object_error }}</p>
          </div>
          {%- endif -%}
        </div>
      </div>
      <div class="fr-fieldset__element fr-mb-4v">
        <div class="fr-input-group {%- if contact_message_error %} fr-input-group--error{%- endif -%}"
             data-fr-js-input-actionee="true">
          <label for="contact-form--message" class="fr-label">
            {{ contact_message_label }}
          </label>
          <textarea id="contact-form--message"
                    name="message"
                    rows="5"
                    cols="60"
                    maxlength="8000"
                    required
                    {% if contact_message_error -%}
                    aria-describedby="contact-form--message-error"
                    {% endif -%}
                    class="fr-input">{{ message_value }}</textarea>
          {%- if contact_message_error %}
          <div id="contact-form--message-error" class="fr-messages-group">
            <p class="fr-message fr-message--error">{{ contact_message_error }}</p>
          </div>
          {%- endif -%}
        </div>
      </div>
    </fieldset>
  </div>
  <div class="fr-col-12 fr-col-lg-8">
    <button type="submit" id="contact-form--button-submit"
            name="submit"
            class="fr-btn"
            data-fr-js-button-actionee="true">{{ submit_value }}
    </button>
  </div>
</div>
