{% from "./mixins.jinja2" import mixed_values_horizontal, content_metadata, display_errors -%}
{%- set lang_attr='lang="{}"'.format(entity.lang) if entity.lang != lang else "" -%}
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-8">
      <div id="{{ entity.cw_etype.lower() }}-{{ entity.eid }}">
        {{ display_errors(errors, _) }}
        <div class="fr-col-12 fr-mb-8v" {{ lang_attr }}>
          <h1>{{ entity.dc_title() | e}} </h1>
        </div>
        <div class="fr-col-12 fr-mb-8v">
          {{ content_metadata(metadata, _) }}
        </div>
        <div class="fr-col-12 fr-mb-8v">
          {%- if main_props | length > 0 -%}
          {{ mixed_values_horizontal(main_props, lang_attr, _) }}
          {%- else -%}
          {{ description }}
          {%- endif -%}
        </div>
      </div>
      {%- if info_links -%}
      <div class="fr-alert fr-alert--info">
        {% for label, url in info_links %}
        <p><a href="{{ url }}" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">{{ label }}</a></p>
        {% endfor %}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
