<div id="fa-facet-{{ facetid }}" class="fr-accordions-group d-print-none">
<section class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button class="fr-accordion__btn"
            aria-expanded="{% if facet_unfolded %}true{% else %}false{% endif %}"
            aria-controls="facet-{{ facetid }}">{{ facet_label }}</button>
  </h3>
  {# XXX the extense must be triggered by javascript #}
  <div class="fr-collapse{% if facet_unfolded %} fr-collapse--expanded{% endif %}" id="facet-{{ facetid }}">
    <ul class="fr-links-group" id="facet-{{ facetid }}--list" {% if more_facet_items %}aria-expanded="false"{% endif -%}>
      {%- for item in facet_items -%}
      {{ item }}
      {%- endfor -%}
      {%- if more_facet_items -%}
      {%- for item in more_facet_items -%}
      {{ item }}
      {%- endfor -%}
      {%- endif -%}
    </ul>
  </div>
</section>
</div>