{%- from "./mixins.jinja2" import faqitems -%}
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-8">
      <div class="fr-mb-16v">
        <h1>{{ title }}</h1>
      </div>
      {% for category, faq in faqs %}
      <div id="{{category}}" class="fr-mb-18v">
        <h2 class="fr-text--lead fr-mb-8v">{{ _(category) }}</h2>
        {% from "./mixins.jinja2" import faqitems %}
        {{ faqitems(faq, category, editable, _, 3) }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
