<div class="fa-alphabet fr-btns-group fr-btns-group--inline">
  {% for letter, url, class in letters["all"] %}
  <a class="{{ class }}" href="{{ url }}">{{ letter | e }}</a>
  {% endfor %}
  {% for letter, url, class in letters["letters"] %}
  <a class="{{ class }}" href="{{ url }}">{{ letter  | e }}</a>
  {% endfor %}
  {% for letter, url, class in letters["others"] %}
  <a class="{{ class }}" href="{{ url }}">{{ letter  | e }}</a>
  {% endfor %}
</div>
