<!doctype html>
<html lang="{{ lang }}" data-fr-scheme="light">
<head>
    {% include "_head.jinja2" %}
</head>
<body id="top">
    {% include "skiplinks.jinja2"%}
    {% block adminpanel %}{% endblock %}
    {% include "header.jinja2" %}
    <main role="main" tabindex="-1">
        {% include "alert.jinja2" %}
        {% if display_search_bar %}
            {% if page_id == "homepage" %}
                {% include "home-searchbar.jinja2" %}
            {% else %}
                <section id="search-bar-section" class="{% if is_nomina %}fr-background-action-high--green-emeraude{% else %}fr-background-action-high--blue-france{% endif %}">
                  {% include "_searchbar_other.jinja2" %}
		</section>
            {% endif %}
        {% endif %}
        {% if page_id == "homepage" %}
            {% include "homepage.jinja2" %}
        {% endif %}
        {% if breadcrumbs %}
            {% include "_breadcrumbs.jinja2" %}
        {% endif %}
        <div id="content">
            {{ page_content }}
        </div>
        {% if display_totop or faqs %}
            {% include "top_page.jinja2" %}
        {% endif %}
        {% include "newsletter_networks.jinja2" %}
    </main>
    {% include "_footer.jinja2" %}
    {% include "_scripts.jinja2" %}
</body>
</html>
