<div class="fr-follow">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-md-8">
        <h2 class="fr-sr-only">{{ _("newsletter_sr_title") }}</h2>
        <div class="fr-follow__newsletter">
          <div>
            <h3 class="fr-h5">{{ _("Subscribe to our newsletter") }}</h3>
          </div>
          <div class="fr-btns-group fr-btns-group--inline-md">
            <a class="fr-btn" href="{{ base_url}}/lettre-info" title="{{ _("subscribe_newsletter_title") }}">
              {{ _("Subscribe") }}
            </a>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-4">
        <div class="fr-follow__social fa-follow__social">
          <h3 class="fr-h6">{{ _('Follow us') }} {{ _('on social networks') }}</h3>
          <ul class="fr-btns-group">
            <li>
              <a class="fr-btn--twitter-x fr-btn"
                 title="X - {{ _('new window') }}"
                 rel="noopener external"
                 href="https://x.com/FranceArchives" target="_blank">twitter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
