{%- if advanced_search %}
 <ul class="fr-tags-group fr-tags-group--inline fr-mb-4v fr-hidden-md">
 <li><a class="fr-btn fr-btn--sm" href="/advancedSearch">
      {{_("Modify your advanced search")}}
     </a>
</li>
 </ul>
{%- endif -%}
{% if search_summary %}
  <div class="fa-search-summary">
  {%- set context = search_summary['context'] %}
  {%- set summary = search_summary['summary'] %}
  {%- if summary or context -%}
  {# Why display the context ?#}
    {%- if context %}
      {# {% if context['query'] %}<span class="fr-text--lead fr-mb-4v">{{ context['query'] | e}}</span>{% endif -%} #}
      {%- if context.get('inventory') %}
        <p>
        {{_("Publisher")}}{{ _(':') }} <span>{{ context['inventory'] |e}}</span>
        </p>
      {% endif -%}
      {%- if search_summary['advanced_query'] %}
      {%- for active_facet in search_summary['advanced_query'] %}
        <p>
          <span class="fr-text--bold">{{active_facet.name |e}}{{ _(':') }}</span>
          <span>{{_(active_facet.value) |e}}</span>
        </p>
      {% endfor -%}
      {% endif -%}
    {% endif -%}

    {%- if summary %}
    <p id="facet-selected-filters" class="fr-sr-only">{{ _('Selected filters') }}</p>
    <ul class="fr-tags-group fr-tags-group--inline fa-search-summary--filters" aria-describedby="facet-selected-filters">
    {% for active_facet in summary %}
        {% for value, reset_url in active_facet.value %}
        {% set label = "%s%s%s" % (_(active_facet.name), _(':'), _(value)) %}
        <li><a class="fr-tag fr-tag--sm fr-tag--dismiss fr-icon-close-line fr-link--icon-right fr-mr-1w fr-mt-0 fr-mt-md-0 active" href="{{ reset_url }}" aria-label="{{ _('Remove') }} {{ label |replace('"',"'")|safe }}">{{ label | e}}</a></li>
        {% endfor %}
    {% endfor -%}
     </ul>
     <a class="fr-tag fr-tag--sm fr-tag--dismiss fr-icon-close-line fr-link--icon-right fr-mr-1w fr-mb-2w fr-mt-0 fr-mt-md-0" href="{{ reset_all_facets_link }}">{{ _('Clear all facets') |e}}</a>
    {%- endif %}
  {%- endif %}
  </div>
{%- endif %}
