{% extends "./searchlist.jinja2" %}
{%- block context_abstract -%}
<section class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
    <div class="fr-col-12 fr-col-lg-10">
      <h1>{{ header.title }}</h1>
    </div>
  </div>
</section>
{%- endblock -%}-
