{# XXX must be conditionalized by cls.display_results_info + content depends on etype #}
{% from "./search-mixins.jinja2" import error_alert -%}
{%- set display_header = site_tour_url or advanced_search -%}
{%- set no_results = response.hits.total.value == 0 -%}
{%- if not header -%}
<div class="fr-container">
 <div class="fr-col-12 fr-mb-8v" {{ lang_attr }}>
 <h1>{{ _("Search results") }}</h1>
 </div>
</div>
{%- endif -%}

{%- if display_header %}
<div class="fr-container">
  <div class="fr-btns-group fr-btns-group--sm {% if  advanced_search -%}fa-btns-group--space-between{%- else -%}fr-btns-group--right{%- endif %} fr-mb-2v">
    {%- if advanced_search %}
    <a class="fr-btn fr-btn-primary fr-btn--sm fr-hidden fr-unhidden-md" href="/advancedSearch">
      {{_("Modify your advanced search")}}
     </a>
    {%- endif -%}
  </div>
</div>
{% endif -%}
{% block context_abstract %}
{%- include "search-header.jinja2" -%}
{%- endblock -%}
<section class="fr-container">
  {%- if is_authority_view -%}
  <div class="fr-col-12 fr-my-8v" {{ lang_attr }}>
   <h1>{{ _("linked_content_h1") }}</h1>
  </div>
  {%- endif -%}
  {# facets #}
  <div id="fa-search" class="fr-grid-row fr-grid-row--gutters">
    {%- if display_facets %}
    <div id="fa-search--facets" class="fr-col-12 fr-col-lg-4">
      {%- include "facets.jinja2" -%}
    </div>
    {%- endif -%}
    <div id="fa-search--results" class="fr-col-12{%- if display_facets %} fr-col-offset-lg-1 fr-col-lg-7{%- else %} fr-col-lg-8{%- endif -%}">
       {%- if error -%}
         {%- include "search-summary.jinja2" -%}
         {{ error_alert(error) }}
       {%- else -%}
         {%- if no_results -%}
          <p>{{ results_title |e }}&nbsp;
          {%- if query_string -%}&nbsp;<span class="fa-search-query fa-search-query__no_results">&nbsp;{{_('for')}}"{{  query_string |e }}"</span>{%- endif -%}</p>
          {%- else -%}
           <h2 class="fr-h5">
          <div class="fr-grid-row fr-grid-row--middle fr-mb-4v" style="justify-content: space-between;">
                <div class="fr-col-auto">
                 <span>{{ results_title |e }}</span>
                 {%- if query_string -%}&nbsp;<span class="fa-search-query">{{_('for')}}&nbsp;"{{ query_string |e }}"</span>{%- endif -%}
               </div>
              {%- if csv_export_props -%}
                 <div class="fr-col-auto">
                   <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline">
                     <li>
                       <button class="fr-btn fr-btn--secondary fr-btn--sm" 
                          id="csv-export-btn"
                          type="button"
                          {% if not csv_export_props.can_export %}disabled="disabled"{% endif %}
                          data-csv-url="{{ csv_export_props.url or '' }}"
                          data-csv-filename="{{ csv_export_props.filename or '' }}"
                          data-loading="false"
                          aria-busy="false"
                          {% if csv_export_props.title %}
                          title="{{ csv_export_props.title | e }}"
                          {% endif %}
                          data-eulerian-actionname="download_csv_search_results"
                          data-eulerian-actionlabel="download_csv,search_results,nominarecord,search_export,{{ csv_export_props.size | e }}">
                         <span class="csv-export-content">
                           <i class="fr-icon-file-download-line fr-icon--sm"></i>&nbsp;{{ csv_export_props.link }}
                         </span>
                         <span class="csv-export-loader fr-hidden" aria-hidden="true">
                           <i class="fr-icon-refresh-line fr-icon--sm csv-export-loader-icon"></i>&nbsp;{{ _('Export in progress...') }}
                         </span>
                       </button>
                     </li>
                     <li>
                       <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--sm" 
                               type="button"
                               title="{{ csv_export_props.info_message | e }}"
                               aria-label="{{ csv_export_props.info_message | e }}">
                         <i class="fr-icon-info-line fr-icon--sm"></i>
                       </button>
                     </li>
                   </ul>
                 </div>
                 {%- endif -%}
             </div>
           </h2>
          {%- endif -%}
        {%- include "search-summary.jinja2" -%}
        {%- endif -%}
        {#- warnings -#}
        {%- include "search-warnings.jinja2" -%}
        {#- warnings -#}
      {% if response.hits.total.value %}
       {# sort_options #}
       <div class="fa-search-options fr-my-8v">
        {% if display_sort_options %}
         <div class="fr-select-group fa-search-options--sort">
           <label class="fr-label fr-text--sm fr-m-0" for="sort-options">{{ _('Sort by') }}{{ _(":") }}</label>
           <select id="sort-options" class="fr-select fa-dropdown">
             {% for value in sort_options.options_links %}
             <option value="{{value.url}}" {%- if sort_options.current_label== value.label %} selected="" {% endif%}>{{value.label |e}}</option>
             {% endfor %}
           </select>
         </div>
       {% endif %}
        {#- items_per_page -#}
        <div class="fr-select-group fa-search-options--items">
            <label class="fr-label fr-text--sm fr-m-0" for="sort-items">{{ _('Results per page') }}{{ _(":") }}</label>
            <select id="sort-items" class="fr-select fa-dropdown">
              {% for value in items_per_page_links.options_links %}
              <option value="{{value.url}}" {% if items_per_page_links.current_label== value.label %} selected="" {%endif%}>{{value.label |e}}</option>
              {% endfor %}
            </select>
        </div>
        {#- navigation_par_page -#}
        {%- if number_of_pages > 1 -%}
          {% include "page-number-input.jinja2" %}
        {%- endif -%}
       </div>

       {%- endif -%}
       {%- if search_results -%}
       <div class="fr-grid-row">
        {% for item in search_results -%}
        {{ item }}
        {% endfor %}
        {# pagination #}
        {% if number_of_pages > 1 %}
        <div class="fr-col-12">
          <nav role="navigation" class="fr-pagination" aria-label="{{ _('Pagination') }}">
            <ul class="fr-pagination__list">
            {% for page_link in pagination %}
            {% include "pagelink.jinja2" %}
            {% endfor %}
            </ul>
          </nav>
        </div>
      {% endif %}
      </div>
      {%- endif -%}
    </div>
  </div>
</section>
