<section class="fr-mb-12v">
  <div class="fr-mb-10v fr-py-8v fr-background-contrast--blue-cumulus d-print-none">
  {% include "section-header.jinja2" %}
  </div>
  <div class="fr-container">
  <div class="fr-col-12 fr-col-lg-8">
  {{ entity.printable_content }}</div>
  </div>
</section>
