<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-mb-4v">
      <h1 class="fr-mb-8v">{{ title }}</h1>
      {% if a11y_alert %}
      <p class="fr-col-12 fr-col-lg-8">{{ a11y_alert }}</p>
      {% endif %}
      <div class="services-map fr-hidden fr-unhidden-md" aria-hidden="true">{{ map }}</div>
    </div>
  </div>
</div>