<div class="fr-share">
  <p class="fr-share__title">{{ _(sharelinks["title"]) | e}}</p>
  <ul class="fr-share__group">
    <li>
      <a class="fr-share__link fr-share__link--mail eulerian-button"
         href="{{ sharelinks["mail"] }}"
         title="{{ _('Share by mail') }} - {{ _('open in a mailer') }}" target="_blank"
         data-eulerian-actionname="share_{{ heading_hierarchy | e }}"
         data-eulerian-actionlabel="share,content,share,share_on_mail,mail"
         data-eulerian-headinghierarchy="{{ heading_hierarchy | e }}"
         data-eulerian-componenthierarchy="{{ component_hierarchy | e }}"
         data-eulerian-componentlabel="share_on_mail"
         data-eulerian-componentvalue="{{ sharelinks["mail"] }}">{{ _("Share by mail") }}</a>
    </li>
    <li>
      <button class="fr-share__link fr-share__link--copy eulerian-button"
              title="{{ _("Copy to clipboard") }}"
              data-eulerian-actionname="share_{{ heading_hierarchy | e }}"
              data-eulerian-actionlabel="share,content,share,copy_link,lien"
              data-eulerian-headinghierarchy="{{ heading_hierarchy | e }}"
              data-eulerian-componenthierarchy="{{ component_hierarchy | e }}"
              data-eulerian-componentlabel="copy_link"
              data-eulerian-componentvalue="{{ sharelinks["copyurl"] }}"
              onclick="navigator.clipboard.writeText(window.location);alert('{{ _("Address copied to clipboard.") }}');">
        {{ _("Copy to clipboard") }}
      </button>
    </li>
  </ul>
</div>
