<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
  <section class="fr-col-12 fr-col-lg-8 fr-col-md-10">
    {% macro sitetree(items, level) %}
    <ul class="sitemap">
      {% for item in items %}
        <li class="{{"sitemap__section" if item.etype in ('Section', 'Link') else "sitemap__document"}}">
        {% if item.etype  in ('Section', 'Link') %}
        {% endif %}
          <h{{ level }} class="fr-h{{ level + 2}}">
          <a href="{{ item.url | e }}" class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-link--lg">{{ item.title | e }}</a>
          </h{{ level }}>
          {% if item.children %}
            {{ sitetree(item.children, level+1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endmacro %}
  <h1>{{ title }}</h1>
  <div id="tree-container">
    {{ sitetree(sections, 2) }}
  </div>
  </section>
  </div>
</div>
